:root {
  --body: #2A3034;
  --black: #333;
  --white: #fff;
  --footer-text: #2A3034;
  --bensalem: #224D38;
  --bensalem-yellow: #d5bd49;
  /* --white: #e6e6e6; */
  --blue-rw: #546aa2;
  --gray-rw: #797979;
  --green-rw: #8ccdb0;
  --green-default: #02C58F;
  --green-bensalem: #224D38;
  --gray-dark: #999;
  --gray-regular: #ccc;
  --gray-light: #f5f5f5;
  --green-dark: #308941;
  --green-regular: #41a700;
  --green-light: #b6dba6;

  --nav-link-inactive: #666;
  --nav-link-active: #2A3034;

  --box-border-radius: 10px;

  --header-font: 'Playfair Display', serif;
  --body-font: 'Source Sans 3', sans-serif;
  --btn-font: 'Playfair Display', serif;

  --base-line-height: 24px;
  --off-white: rgba(var(--white), 0.2);
  --spin-duration: 1s;
  --pulse-duration: 750ms;

}

body {
  color: var(--body);
  font-family: var(--body-font);
  font-weight: 300;
  background: var(--gray-light)
}

h1,
h2,
h3,
h4 {
  color: #0d0c22;;
  font-family: var(--header-font);
}

h1 {
  color: var(--white);
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-weight: 900;
  font-size: 2.5rem;
  margin: 0 0 .25em;
  /* text-transform: uppercase; */
  letter-spacing: 0.02em; }

/* h2 {
  color: #0d0c22; } */

p {
  line-height: 1.57em; }

a {
  color: var(--white); }

hr {
  border-top: 1px solid var(--white);
  border-bottom: none; }

.home-text {
  margin-top: 1rem;
}

.home-header-text {
  margin: 0;
}

.script-text {
  color: var(--white);
  font-family: 'Playball';
  font-size: 1.25rem;
  margin: 0;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.white-text {
  color: var(--white);
  margin: 0.25em;
}

.app {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.container {
  width: 900px;
  position: relative;
  max-width: 100%;
  padding: 2rem 1rem 0;
  min-height: var(--app-height);
  margin: 0 auto; }
  .container .transitionRouteContainer {
    position: absolute;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden; }

.background-image {
  /* background-image: url('./leroy-background-min.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: var(--app-height);
  z-index: -2;
}

.app-box {
  background: var(--white);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.075);
  border-radius: var(--box-border-radius);
  padding: 1rem;
}

.background-overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: calc(var(--app-height) / 1.5);
  background: rgb(4,163,144);
  /* background: linear-gradient(180deg, rgba(4,163,144,1) 0%, rgba(2,197,143,1) 100%); */
  background: linear-gradient(180deg, var(--bensalem) 0%, rgba(2,197,143,1) 100%);
  /* border-top: 3px solid var(--bensalem-yellow); */
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  z-index: -1;
}

.app-logo-container {
  background: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 120px;
  max-height: 120px; }
.app-logo {
  pointer-events: none;
  max-width: 125px; }


/* @media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
} */

.app-header {
}

.app-footer {
  background: var(--white);
  width: 100%;
  /* height: 70px; */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 10px;
  padding-bottom: env(safe-area-inset-bottom);
  /* border-top: 1px solid var(--gray-regular); */
  box-shadow: 0 -1px 2px 0 rgba(0,0,0,.075);
}

.app-footer .footer-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
}

.app-footer .footer-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--nav-link-inactive);
  font-family: var(--btn-font);
  font-size: 0.75rem;
  opacity: 0.5;
}

.app-footer .footer-link img {
  height: 30px;
  /* margin: 0 auto; */
  width: auto;
  filter: invert(39%) sepia(2%) saturate(74%) hue-rotate(351deg) brightness(100%) contrast(88%);
}

.app-footer .footer-link.active {
  opacity: 1;
  color: var(--nav-link-active);
  font-weight: 500;
}

.app-footer .footer-link.active img {
  filter: invert(13%) sepia(14%) saturate(603%) hue-rotate(160deg) brightness(93%) contrast(84%);
}
  
.playersList {
  background: #fff;
  border-radius: var(--box-border-radius);
  margin: 1rem 0 2rem;
  padding: 1rem;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.075);
}

.btn {
  display: inline-block;
  font-weight: 600;
  line-height: 1.5;
  background: var(--green-default);
  /* background-color: rgb(0, 205, 147); */
  background: rgb(4,163,144);
  background: linear-gradient(180deg, rgba(4,163,144,1) 0%, rgba(2,197,143,1) 100%);
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 2rem;
  font-size: 1.25rem;
  border-radius: 50rem;
  letter-spacing: 0.02em;
  /* text-transform: uppercase; */
  font-family: var(--btn-font);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
  .btn--block {
    display: block;
    width: 75%;
    margin: 1em auto; }
  .btn--secondary {
    background: transparent;
    border-color: var(--green-default);
    color: var(--white); }
  .btn-link {
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    background: transparent;
    border: none;
    /* text-decoration: underline; */
    color: #06c; }

.btn-icon {
  width: 20px;
  margin-right: 6px; }

.btn-teeoff {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto; }

.unstyled-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.golfers {
  margin: 1rem auto 2rem; }
.player-list {
  }
  .player-list li {
    margin: 1em; }

/* Custom radio button */
.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  /* Hide the browser's default radio button */
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  /* Create a custom radio button */
  .radio-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%; }
  /* On mouse-over, add a grey background color */
  .radio-container:hover input ~ .checkmark {
    background-color: #ccc; }
  /* When the radio button is checked, add a blue background */
  .radio-container input:checked ~ .checkmark {
    background-color: var(--green-default); }
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radio-container .checkmark:after {
    content: "";
    position: absolute;
    display: none; }
  /* Show the indicator (dot/circle) when checked */
  .radio-container  input:checked ~ .checkmark:after {
    display: block; }
  /* Style the indicator (dot/circle) */
  .radio-container .checkmark:after {
    top: 7px;
    left: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff; }

.scorecard-header {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* background: var(--bensalem); */
  border-radius: var(--box-border-radius);
  padding: 0.5em 0;
  width: 100%;
  margin: 1.5rem auto 0; }
  .hole-info {}
  .hole-number {
    color: var(--white);
    font-size: 2rem;
    font-weight: 900;
    margin: 0; }
  .hole-par {
    font-size: 1rem;
    color: var(--white);
    opacity: 0.75;
    margin: 0 0 0.5em; }
  .nav-btn {
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    background: transparent;
    border: none;
    outline: none;
    /* font-family: var(--btn-font); */
    font-weight: 700;
    font-size: 0.875rem;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1rem 0;
    letter-spacing: 0.02em; }

.scorecard {
  /* margin: 2rem 0; */ }
  .scorecard-player {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2em 0; }
    .scorecard-player-name {
      font-size: 1.25rem; }
  .scorecard-player-details {
    }
    .scorecard-team {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; }
    .scorecard-team-name {
      font-family: var(--header-font);
      font-size: 1.5rem;
      font-weight: 600;
      text-align: left;
      margin: 0; }
    .scorecard-team-score {
      font-family: var(--header-font);
      font-size: 1.5rem;
      margin: 0; }
  .scorecard-input {
    }
    .scorecard-input input {
      height: 70px;
      width: 70px;
      border-radius: 100%;
      -webkit-appearance: none;
      appearance: none;
      box-shadow: -2px -2px 10px 5PX #b2b2b2 inset;
      border: none;
      text-align: center;
      font-size: 2em;
      outline: none;
      z-index: 0;
      padding: 0; }

.leaderboard-container {
  margin: 1rem auto 0; }

  .player-scorecard-container {
    grid-column: span 5;
    padding: 0;
    background: var(--white) !important;
  }

  .player-scorecard-container th {
    background: var(--gray-light);
    border-left: 1px solid #fff;
  }

  .player-scorecard-container th:last-child {
    border-left: 1px solid var(--gray-light);
  }

  .player-scorecard-container tr {
    border-top: 1px solid #ddd !important;
  }

  .player-scorecard-container td {
    border-top: 1px solid var(--gray-light);
    border-left: 1px solid var(--gray-light);
    background: #fff !important;
  }

  .player-scorecard-container td:last-child {
    background: #FFEAD4 !important;
  }

  .player-scorecard-container .par-row td {
    background: #f5f5f5 !important;
    padding: 5px 0;
  }
  

.player-scorecard-table {
    margin: 0;
    grid-template-columns:
      minmax(max-content, 100px)
      repeat(18, minmax(30px, 1fr))
      minmax(40px, 30px);
    overflow-x: scroll;
}

.editTeam {
  grid-column: span 5;
  text-align: center;
  background: #fff !important;
}

.editTeam .btn-link {
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-family: var(--btn-font);
  text-decoration: none;
}

table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  margin: 0 -1rem;
  grid-template-columns: 
    minmax(10px, 40px)
    minmax(10px, max-content)
    minmax(10px, 1fr)
    70px
    minmax(10px, 1fr)
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

th {
  position: sticky;
  top: -1rem;
  background: var(--bensalem-yellow);
  font-weight: normal;
  font-size: 0.6875rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--black);
}

.leaderboard-table th:last-child {
  border: 0;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff;
  color: var(--black);
  font-size: 0.75rem;
}

td a {
  color: var(--black);
}

tr:nth-child(even) td {
  background: var(--gray-light);
}

.leaderboard-table > tbody > tr > td:nth-child(3) {
  background: #FFEAD4;
}

.leaderboard-table > tbody > tr:nth-child(even) > td:nth-child(3) {
  background: #EBCCAB;
}

.updated-text {
  display: block;
  position: relative;
  margin-bottom: 1rem;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

select {
  appearance: none;
  -webkit-appearance: none; 
  -moz-appearance: none;
  background: transparent;
  border: none;
  padding: 0.5em;
  border-radius: 0.25em;
  color: var(--black); }
  option:not(:first-of-type) {
    color: black; }

.select-container {
  display: inline-block;
  position: relative;
  border: 1px solid #eee;
  padding: 0.5em 0.25em;
  width: 300px;
  max-width: 100%; }
  .select-container select {
    width: 100%;
    font-size: 1rem; }
  .select-container:after {
    content: '';
    background: url('./angle-small-down.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0.75em;
    right: 5px;
    width: 30px;
    height: 30px;
    display: inline-block; }


.loading {
  display: inline-block;
}
.loading img {
  animation: app-logo-spin infinite 1.5s linear;
}
.loading p {
  display: inline-block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid var(--green-default); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 5rem auto 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2s steps(20, end) infinite,
    blink-caret .75s step-end infinite;
}

/* Typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--green-default); }
}

/* Utilities */
.text-dark {
  color: var(--body);
}

/* Loader */
/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

@keyframes pulse {	
  50% { 
    background: var(--white);
  } 
}

/* .loading {
    border-radius: 50%;
    width: var(--base-line-height);
    height: var(--base-line-height);
    border: .25rem solid var(--off-white);
    border-top-color: var(--white);
    animation: spin var(--spin-duration) infinite linear;
} */

.loading-pulse {
  position: absolute;
  width: calc(var(--base-line-height) / 4);
  height: var(--base-line-height);
  background: var(--off-white);
  animation: pulse var(--pulse-duration) infinite;
  animation-delay: calc(var(--pulse-duration) / 3);
  margin-left: 2rem;
  right: calc(var(--base-line-height));
  top: 0;
}
.loading-pulse:before,
.loading-pulse:after {
  content: '';
  position: absolute;
  display: block;
  height: calc(var(--base-line-height) / 1.5);
  width: calc(var(--base-line-height) / 4);
  background: var(--off-white);
  top: 50%;
  transform: translateY(-50%);
  animation: pulse var(--pulse-duration) infinite;
}
.loading-pulse:before {
  left: calc(var(--base-line-height) / 2 * -1);
}
.loading-pulse:after {
  left: calc(var(--base-line-height) / 2);
  animation-delay: calc(var(--pulse-duration) / 1.5);
}
